*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-red: #C20000;
    --color-yellow: yellow;
    --color-blue: #003C94;
    --color-white: #E0E0E0;
    --color-black: #121212;
    --color-darkgrey: #333333;
    --color-purple: linear-gradient(#9966FF,#8344FC);
    --color-light-grey: #C4C4C4;
    --color-pink: #AE78FF;
    --color-lime-green: #2DFC4A;
    --color-yellow-mustard: #E3BA00;
    --color-orange: #FF9B21;
    --color-violet: #6721FF;
    --color-light-blue: #48FADF;
    --general-bg-colour: linear-gradient(#7761FF, #3C1FFF);
    --container-bg-colour: linear-gradient(#451AFF, #4228B5);
    --selected-colour: #AE70FF;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    margin: auto;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 25px;
    padding: 25px;
    transform: scale(0.8);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    background: var(--container-bg-colour);
    cursor: pointer;
}

.contenedor:hover {
    transform: scale(0.85);
    opacity: 1;
}

.fdc {
    flex-direction: column;
}

.fdr {
    flex-direction: row;
}

.custom-size {
    width: 25vw;
    height: 100vh;
}

.small-gap {
    gap: 25px;
}

.medium-gap {
    gap: 45px;
}

.big-gap {
    gap: 100px;
}

.no-border {
    border-style: none;
}

.bordered {
    border-radius: 10%;
}

.small-border {
    border: 3px solid;
}

.light-grey-border {
    border-color: var(--color-light-grey);
}

.bc-white {
    background: var(--color-white);
}

.bc-black {
    background: var(--color-black);
}

.bc-darkgrey {
    background: var(--color-darkgrey);
}

.bc-blue {
    background: var(--color-blue);
}

.bc-red {
    background: var(--color-red);
}

.font-white {
    color: var(--color-white);
}

.font-black {
    color: var(--color-black);
}

.font-darkgrey {
    color: var(--color-darkgrey);
}

.font-blue {
    color: var(--color-blue);
}

.font-red {
    color: var(--color-red);
}

.bc-yellow {
    background: var(--color-yellow);
}

.bc-purple {
    background: var(--color-purple);
}

.bc-general {
    background: var(--general-bg-colour);
}

.bc-lime-green {
    background: var(--color-lime-green);
}

.bc-yellow-mustard {
    background: var(--color-yellow-mustard);
}

.bc-orange {
    background: var(--color-orange);
}

.bc-violet {
    background: var(--color-violet);
}

.bc-light-blue {
    background: var(--color-light-blue);
}

.button-base {
    width: 50%;
    height: 10%;
    transition: all 0.07s ease-in-out;
    font-family: monospace;
    font-size: 20px;
    overflow: auto;
    opacity: 0.8;
    cursor: pointer;
}

.input-submit {
    width: 50%;
    height: 15%;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.07s ease-in-out;
    font-family: sans-serif;
    opacity: 0.8;
    cursor: pointer;
}

.button-base:hover, .input-submit:hover {
    transform: scale(1.1) translateY(-5px);
    opacity: 1;
}

.button-custom-height {
    height: 50%;
}

.transparent-style {
    background: transparent;
}

.no-shadow {
    box-shadow: none;
}

.small-shadow {
    box-shadow: 0 0 75px 5px #000e;
}

.medium-shadow {
    box-shadow: 0 0 50px 10px #000e;
}

.big-shadow {
    box-shadow: 0 0 25px 15px #000e;
}

.linear-gradient-style {
    background: linear-gradient(transparent, var(--color-black));
}

.radial-gradient-style {
    background: radial-gradient(transparent, var(--color-black));
}

.input-text {
    width: 75%;
    height: 15%;
    padding: 25px;
    font-size: 15px;
    border-radius: 20px;
    border-style: none;
    border-bottom: 5px solid var(--color-pink);
    font-family: sans-serif;
}

.title {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white;
}

.slider-bordes {
    width: 100%;
    height: 5%;
}

.color-selected {
    border: 10px solid var(--selected-colour);
    border-radius: 20px;
}