<div class="menu">
    <h1>Práctico integrador: &#64;Input, &#64;Output, ng-content y &#64;ViewChild - Bruno González</h1>
    <a class="link" id="hidden" routerLink="/hidden"></a>
    <ul class="nav-list-menu">
        <li><a class="link" routerLink="/">Menú</a></li>
        <li><a class="link" routerLink="/e1">Ejercicio 1</a></li>
        <li><a class="link" routerLink="/e2">Ejercicio 2</a></li>
        <li><a class="link" routerLink="/e3">Ejercicio 3</a></li>
        <li><a class="link" routerLink="/e4">Ejercicio 4</a></li>
    </ul>
</div>