* {box-sizing: border-box; margin: 0; padding: 0;}

:root {
    --color-letra: greenyellow;
    --color-fondo: linear-gradient(to left, rgb(122, 240, 148), rgb(0, 130, 27));
    --color-fondo-2: radial-gradient(circle, #44EB5D, #5FC26E);
    --color-fondo-3: #6AD979;
    --color-fondo-4: #4C940A;
    --color-fondo-5: #6CA336;
    --color-borde: #096615;
    --font: "font de prueba";
    --sombra: 5px 5px 2px 2px #659C2C;
    --sombra-2: 0 5px 5px 5px #659C2C;
}

body {
    background: var(--color-fondo-5);
}

.font {
    font-family: var(--font);
    color: var(--color-letra);
    font-weight: 700;
    letter-spacing: 2px;
}

.transicion {
    transition: transform 1.5s ease, width 0.5s ease-in-out;
}

.sombreado {
    box-shadow: var(--sombra);
}

.sombreado-2 {
    box-shadow: var(--sombra-2);
}

.bordes-redondeados {
    border-radius: 20px;
}

.bordes-estilizados-1 {
    border-radius: 50px 100px 50px 100px;
}

.borde-inferior {
    border-bottom: 5px solid var(--color-borde);
}

.borde-superior {
    border-top: 5px solid var(--color-borde);
}

.boton {
    width: 200px;
    height: 100px;
    border: none;
    font-size: 20px;
}

.c1 {
    background: var(--color-fondo);
}

.c2 {
    background: var(--color-fondo-2);
}

.c3 {
    background: var(--color-fondo-2);
}

.c4 {
    background: var(--color-fondo-4);
}

.boton:hover {
    width: 250px;
}

.menu-bar {
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.menu-bar:hover {
    width: 600px;
}

.grilla {
    width: 400px;
    height: 500px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: justify;
}

.header {
    display: flex;
    flex-direction: column;
    height: 15vh;
    flex-shrink: 0;
    gap: 5px;
    margin-bottom: 15px;
}

.contenedor-imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    width: 80vw;
    height: 80vh;
    gap: 5px;
}

.contenedor-texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;
    gap: 15px;
}

.imagen {
    width: 80%;
    height: 2%;
    border-radius: 25px;
    margin: 20px;
    flex: 1 1 0;
}

.titulo {
    font-size: 50px;
    text-align: center;
    display: block;
    margin: auto;
    letter-spacing: 2px;
    color: var(--color-letra);
}

.subtitulo {
    font-size: 25px;
    text-align: center;
    display: block;
    margin: auto;
    letter-spacing: 2px;
    color: var(--color-letra);
}

.parrafo {
    font-size: 25px;
    text-align: justify;
    display: block;
    margin: 25px;
    letter-spacing: 2px;
    color: var(--color-letra);
}

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}

.contenedor-general {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}

.contenedor-cosas {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 5px;
}

@media(min-width:418px){
    .contenedor-cosas {
        flex-direction: column;
    }

    .contenedor-imagen {
        height: 15vh;
        width: 100%;
        flex-direction: row;
    }

    .imagen {
        width: 25%;
        height: 25%;
    }
}

@media(min-width:1024px){
    .contenedor-cosas {
        flex-direction: row;
    }

    .contenedor-imagen {
        flex-direction: column;
        height: 120vh;
    }

    .imagen {
        width: 80%;
        height: 2%;
    }

    .parrafo {
        font-size: 20px;
    }
}

