*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    transition: all 0.25s;
}

.button:hover {
    padding: 10px 15px;
    box-shadow: 0 3px 0 0 gray;
    cursor: pointer;
}

p {
    font-family: sans-serif;
    font-size: 1rem;
}

h1 {
    margin-bottom: 25px;
    font-family: sans-serif;
    font-size: 1.5rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}